2b/Math 213/Resources/Advanced Engineering Mathematics - 2nd Edition.pdf
2b/CS247/Resources/Head First Design Patterns.pdf
3a/astro-SCI238/Cosmic_Perpective.pdf
3b/geology-EARTH121/EARTH121.pdf
3b/cde2015/.meteor
