*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.dvi
*.fdb_latexmk
*.synctex.gz
*.pdfsync
*.o
*.sublime-workspace
*-textbook.pdf


adaptive-ECE457A/computational-intelligence-an-introduction.pdf
networks-ECE358/TCP.IP.Illustrated.pdf
